.title {
	background: linear-gradient(225deg, rgb(18, 42, 255), rgb(225, 22, 212));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	font-size: 1.88rem;
	font-weight: 600;
	line-height: 2.25rem;
	letter-spacing: 0%;
	text-align: center;
}
