.status_context_menu {
  @apply absolute  border shadow bg-indicator-white rounded-xl top-8 overflow-hidden flex flex-col;
  width: calc(7rem + 5rem);
  .header {
    @apply p-2 border-b;
    .title {
      @apply text-xs;
      opacity: 0.7 !important;
    }
  }
  .body {
    @apply flex-1 p-2 overflow-y-auto grid grid-cols-5 gap-4;
    &::-webkit-scrollbar {
      width: 10px; /* ширина scrollbar */
    }
    &::-webkit-scrollbar-track {
      background: transparent; /* цвет дорожки */
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(197, 197, 197, 0.377); /* цвет плашки */
      border-radius: 20px; /* закругления плашки */
      border: 3px solid white; /* padding вокруг плашки */
    }
  }
  .footer {
    max-width: calc(7rem + 5rem);
    display: flex;
    gap: 10px;
    overflow: auto;
  }
}
